@font-face {
	font-family: 'Rad';
	src: url('../../assets/fonts/radikal-medium.eot');
	src: url('../../assets/fonts/radikal-medium.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/radikal-medium.woff') format('woff'),
		url('../../assets/fonts/radikal-medium.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Rad';
	src: url('../../assets/fonts/radikal-regular.eot');
	src: url('../../assets/fonts/radikal-regular.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/radikal-regular.woff') format('woff'),
		url('../../assets/fonts/radikal-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}