h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $sans;
    padding-top: 10px;
    color: $darker;
    font-weight: bold;
    line-height: 1em;

    a {
        color: $darker;
        text-decoration: none;
    }

    span {
        font-weight: normal;
    }
}

h1, .h1 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;

    @include media-query(min, $desk-start){
        font-size: 40px;
        line-height: 45px;
    }
}

h2, .h2 {
    font-size: 20px;
    line-height: 20px;
    padding-top: 20px;

    @include media-query(min, $desk-start){
        font-size: 30px;
        line-height: 35px;
    }
}

h3, .h3 {
    font-size: $base-font-size;
    line-height: $base-font-size;
    margin-bottom: 15px;

    @include media-query(min, $desk-start){
        font-size: 20px;
        line-height: 25px;
    }
}

h4, .h4 {
    font-size: $base-font-size;
    line-height: $base-font-size;
}

.section__title {
    position: relative;
    text-align: center;
    margin: 0 0 20px 0;

    .sub {
        display: block;
        color: $dark;
        font-size: 11px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
    }

    .main {
        @include font-size(30px);
        line-height: 30px;
        padding: 10px 0 5px 0;
        position: relative;

        span {
            display: inline-block;
            position: relative;
            padding: 0 20px;
            font-weight: bold;
            background: #fff;
            z-index: 2;
        }

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            left: 0;
            right: 0;
            top: 50%;
            background: #eaeaea;
            z-index: 1;
        }
    }

    .icon {
        margin-top: 10px;

        &::before {
            color: #f9b2dd;
            font-size: 25px;
        }
    }

    @include media-query(min, $lap-start){
        margin: 0 0 40px 0;

        .sub {
            font-size: 16px;
            line-height: 16px;
        }

        .main {
            font-size: 40px;
            line-height: 40px;
        }
    }

}