.hero__outer {
	position: relative;

	.slick-dots {
		position: static;
		right: 1%;
	    top: 50%;
	    bottom: auto;
	    width: auto;
	    transform: translateY(-50%);
	    text-align: left;
	    padding-right: 3px;
	    padding-left: 3px;
	    width: 95%;
	    max-width: 1200px;
	    margin: 0 auto;

	    li {
	    	display: inline-block;
	    	height: auto;
	    	width: auto;
	    	margin: 0;

	    	button {
	    		width: auto;
	    		height: auto;
	    		margin: 0 5px;
	    	}

    		button::before {
    			position: static;
	    		content: '';
	    		background-color: #fff;
	    		border: 1px solid darken($light, 30%);
	    		border-radius: 50px;
	    		width: 15px;
	    		height: 15px;
	    		display: block;
	    	}

	    	&.slick-active button::before {
	    		background-color: $purple;
	    		border: 1px solid $purple;
	    	}
	    }

	    @include media-query(min, $lap-start) {
	    	position: absolute;
	    	right: 1%;
		    top: 50%;
		    bottom: auto;
		    width: auto;
		    transform: translateY(-50%);
		    text-align: center;
		    padding-right: 0;
		    padding-left: 0;

		    li {
		    	display: block;

		    	button {
		    		margin: 5px 0;
		    	}
		    }
	    }
	}
}

.hero__wrap {
	position: relative;
	width: calc(100% - ((100% - 1200px) / 2));
	max-width: 95%;
}

.hero__arrows {
	display: none;
	position: absolute;
	bottom: 60px;
	right: -46px;
	z-index: 10;

	@include media-query(min, $lap-start) {
		display: block;
	}
}

.hero__next,
.hero__prev {
	@include button($purple);
	color: rgba(0,0,0,.6);
	display: inline-block;
    font-size: 24px;
    padding: 10px 11px;
    float: left;
}

.hero__next {
	border-radius: 0 4px 4px 0;
	background-color: rgba(208, 213, 251, 0.3);
}

.hero__prev {
	border-radius: 4px 0 0 4px;
}

.hero {
	margin: 0 0 30px 0;

	@include media-query(min, $lap-start) {
		margin: 0 0 90px 0;
	}
}

.hero__slide {
	display: block;

	.container--desktop {
		display: none;
	}

	.container--mobile {
		display: block;

		h2 {
			font-size: 30px;
			line-height: 30px;
			margin: 0 0 10px 0;

			br {
				display: none;
			}
		}

		p {
			margin: 0 0 10px 0;
		}
	}

	@include media-query(min, $lap-start) {

		.container--desktop {
			position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    display: flex;
		    align-items: center;
			max-width: 1200px;
			margin-right: 0;
			padding: 0;
		}

		.container--mobile {
			display: none;
		}
	}
}

.hero__inner {
	position: relative;
	background: $light;
	width: 100%;
	max-width: 100%;
	padding: 0 0 50% 0;
	background-size: cover;
	background-position: 50% 50%;

	.inner {
		max-width: 230px;
	}

	h2 {
		@include font-size(30px);
		line-height: 30px;
		margin: 0 0 10px 0;
		padding: 0;
	}

	.btn--underline {
		@include button-underline($purple, 16px);
		position: relative;
		bottom: auto;
	}

	@include media-query(min, $desk-start) {

		.inner {
			max-width: 320px;
		}

		h2 {
			@include font-size(60px);
			line-height: 60px;
			margin: 0 0 20px 0;
		}

		.btn--underline {
			@include button-underline($purple, 16px);
			position: absolute;
			bottom: 60px;
		}
	}

}