.woocommerce-cart {

table.cart {
	border: 0;
	margin: 0 0 15px 0;

	th {
	    font-weight: 700;
	    font-size: 11px !important;
	    padding: 9px 0;
	    text-transform: uppercase;
	    letter-spacing: 0.2em;
	}

	td {
		padding: 10px 0;
	}

	.product-thumbnail {
		width: 15%;
		padding-right: 40px;

		img {
			width: auto;
		}

	}

	.product-name {
		font-size: 23px;
		font-weight: bold;
	    width: 28%;
	    padding-right: 5%;
	}

	.product-price {
		text-align: right;
	}

	.product-quantity {
		text-align: right;
	}

	.product-subtotal {
		font-size: 20px;
		font-weight: bold;
		text-align: right;
		color: $darker;
	}

	@include media-query('max', $lap-start) {

		thead {
		    display: none
		}

		tbody th {
		    display: none
		}

		tr td {
		    display: block;
		    text-align: center;
		    clear: both;
		    border: 0;
		}

		tr td.product-remove a {
		    text-align: left
		}

		tr td.product-remove:before {
		    display: none
		}

		.product-thumbnail {
			width: 100%;
			padding-right: 0;
			text-align: center;

			img {
				width: auto;
			}

		}

		.product-name {
		    width: 100%;
		    padding-right: 0;
		}

		.product-price {
			text-align: center;
		}

		.product-quantity {
			text-align: center;
		}

		.product-subtotal {
			text-align: center;
		}

		tr td.actions:before,
		tr td.download-actions:before {
		    display: none
		}

		tr td.download-actions .button {
		    display: block;
		    text-align: center
		}
	}

}

td.actions {
	padding: 20px 0 0 0;

	.coupon {
		float: left;
		display: flex;
		width: 100%;

		label {
			display: none;
		}

		.input-text {
			padding: 6px 10px;
		    @include font-size($base-font-size);
		    margin-right: 10px;
		    line-height: $base-line-height;
		    border: 1px solid $light;
		    border-radius: $base-radius;
		    appearance: none;
		    background: #fff;

		    &:hover, &:focus {
		        outline: none;
		    }
		}
	}

	input[name="update_cart"] {
		float: right;
	}

	@include media-query(min, $lap-start) {
		.coupon {
			width: auto;
		}
	}

}

.cart-collaterals {

    .cart_totals {
    	table {
    		border: 0;

    		th {
    			padding: 15px 0;
    		}

    		td {
    			padding: 15px 0;
    			text-align: right;
    		}
    	}

    	.order-total {
    		font-size: 20px;
    		color: $darker;
    	}

    	h2 {
    		display: none;
    	}
    }

    @include media-query(min, $lap-start) {
    	width: 40%;
    	float: right;
    }

}

.wc-proceed-to-checkout {
	a.checkout-button {
		@include button($green, 20px);
		color: rgba(0,0,0,0.6);
		padding: 20px;
		display: block;
	}
}

&--empty {
	padding: 80px 0;
	text-align: center;

	.cart-empty {
		margin: 0 0 20px 0;
	}
}

table.shop_table_responsive.my_account_orders .order-actions {
    text-align: right
}

table.shop_table_responsive.my_account_orders .order-actions:before {
    display: none
}

}