.woocommerce-checkout {

.woocommerce__wrap {
	max-width: 600px;
}

.woocommerce-checkout-payment {

	.button.alt {
		@include button($green, 20px);
		display: block;
		width: 100%;
		color: rgba(#000, 0.6);
		padding: 20px;
	}

	input[type="radio"] {
		-webkit-appearance: radio;
	}

	label {
		display: inline-block;
		margin: 0;
	}

}

#payment {
	background: transparent;

	ul.payment_methods {
		padding: 0;
		border: 0;

		li.wc_payment_method {
			border: 1px solid $light;
			border-radius: 4px;
			padding: 20px;
			margin: 0 0 20px 0;
		}
	}

	div.payment_box {
		margin: 20px 0 0 0;
		background-color: #f1f2fe;

		&::before {
			border: 1em solid #f1f2fe;
			border-right-color: transparent;
		    border-left-color: transparent;
		    border-top-color: transparent;
		}
	}

	div.form-row {
		padding: 0;
	}
}

}