.woocommerce {

.woocommerce__wrap {
	margin-top: 60px;
	margin-bottom: 60px;
	@include clearfix();
}

.page__wrapper {
	padding-top: 20px;
	padding-bottom: 20px;

	@include media-query(min, $lap-start) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.shop__banner {
	background: rgba($purple, .3) url('../../assets/img/patterns/crosses.svg') no-repeat 0 50%/auto 100%;
	padding: 22px 0 30px;
	margin: 0 0 35px 0;
	text-align: center;

	.woocommerce-breadcrumb {
		margin: 0 0 10px 0;
	}

	h1 {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	@include media-query(min, $lap-start) {
		padding: 70px 0;
	}
}

ul.products {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: space-between;
	margin: 0 -5px;

	&::before {
		display: none;
	}

	&::after {
		content: '';
		flex: 1;
		width: auto;
	}

	li.product {
		flex: 0 1 50%;
		width: 50%;
		margin: 0 0 40px 0;
		padding: 0 5px;
		@include clearfix();

		a {
			display: block;
    		position: relative;
		}

		.product__image {
			background: #f9f9f9;
			padding: 0 0 100% 0;
			position: relative;
			margin: 0 0 15px 0;
		}

		a img {
			width: 100%;
			height: 100%;
			mix-blend-mode: multiply;
			position: absolute;
		    object-fit: contain;
		}

		.woocommerce-loop-product__title {
			@include font-size($base-font-size);
			margin: 0;
			padding: 0;
		}

		.price {
			@include font-size($base-font-size);
			color: $dark;
		}

		@include media-query('min', $lap-start) {

			.woocommerce-loop-product__title {
				width: 75%;
				float: left;
			}

			.price {
				width: 25%;
				text-align: right;
				float: right;
			}
		}

		@include media-query('min', $wide-start) {
			flex: 0 1 33.3333%;
			width: 33.3333%;
			padding: 0 15px;
		}

	}

}

&.columns-4 {
	padding: 0 0 40px 0;

	ul.products {
		li.product {

			@include media-query('min', $lap-start) {
				flex: 0 1 25%;
				width: 25%;
			}
		}
	}
}

nav.woocommerce-pagination {
	ul {
		border: 0;

		li {
			border: 0;

			span.current {
				width: 55px;
				height: 55px;
				border: 55px;
				background-color: $peach;
				color: $darker;
				line-height: 55px;
				padding: 0;
				border-radius: 500px;
			}

			a {
				width: 55px;
				height: 55px;
				color: $dark;
				line-height: 55px;
				padding: 0;
				border-radius: 500px;
			}
		}
	}
}

}