.woocommerce {

.woocommerce__wrap {
	margin-top: 60px;
	margin-bottom: 60px;
	@include clearfix();
}

.page__wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
}

.shop__banner {
	background: rgba($purple, .3);
	padding: 70px 0;
	margin: 0 0 35px 0;
	text-align: center;

	.woocommerce-breadcrumb {
		margin: 0 0 10px 0;
	}

	h1 {
		text-align: center;
		margin: 0;
		padding: 0;
	}
}

ul.products {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: space-between;
	margin: 0 -15px;

	&::before {
		display: none;
	}

	&::after {
		content: '';
		flex: 1;
		width: auto;
	}

	li.product {
		flex: 0 1 50%;
		width: 50%;
		margin: 0 0 40px 0;
		padding: 0 15px;
		@include clearfix();

		a {
			display: block;
    		position: relative;
		}

		.product__image {
			background: #f6f6f6;
		}

		img {
			width: 100%;
			margin: 0 0 20px 0;
			mix-blend-mode: multiply;
		}

		.woocommerce-loop-product__title {
			@include font-size($base-font-size);
			width: 75%;
			float: left;
			margin: 0;
			padding: 0;
		}

		.price {
			@include font-size($base-font-size);
			color: $dark;
			width: 25%;
			text-align: right;
			float: right;
		}

		@include media-query('min', $lap-start) {
			flex: 0 1 33.3333%;
			width: 33.3333%;
		}

	}

}

&.columns-4 {
	ul.products {
		li.product {
			flex: 0 1 25%;
			width: 25%;
		}
	}
}

}